
		body{
			margin: 0; 
			background-color:#ffdfa;
		}
		.header{
			width: 1400px;
			height: 350px;
			margin: auto;
			margin-left: 15px;
		}
		.nav{
			width: 100%;
			background-color:#2A0001;
			margin: auto;
			overflow: auto;

		}
		ul{
			margin: 0;
			padding:0;
			list-style: none;
		}
		li{
			float: left;
		}
		a:link{
			color: #FCF6F5FF;
			width: 125px;
			text-decoration: none;
			display: block;
			text-align: center;
			padding: 15px;
			text-transform: uppercase;
			font-size: 18px;
			font-family: verdan;
		}
a:hover{
	background-color: black
}
.logo img{
	position:top-right;
	margin-left: 20px;
	height: 150px;

}
.dialoge{
	color: blue;position: absolute;top: 150px; width: 98%;text-align: right; 
}
.introduction{
	display: block;
	font-size: 20px;
	background-color: #f5f5f5;
	margin-right:80px;
}

.informatoin{
	margin: 50px
	background-color: purple
	
	
}

